.regheader{
	text-align:center;
	color:#756262;
}
.btn-success{
		width:100%;
}
.j2{
	background-color:#ebebe0;
	margin-top:50px;
	padding-right: 60px;
    padding-left: 60px;
    padding-top: 15px;
}
.registerinfo{
	display:none;
}
b{
	font-size: 15px;
}
.regcancelbtn {
	width:auto;
	padding:6px 15px;
	background-color:#d44335;
}
.logintext{
	margin-left:30px;
}
#fn_msg{
	color:red;
}
#mn_msg{
	color:red;
}
#ln_msg{
	color:red;
}
#regemail_msg{
	color:red;
}
#regpass_msg{
	color:red;
}
#confpass_msg{
	color:red;
}
#mno_msg{
	color:red;
}
#ano_msg{
	color:red;
}
