<!DOCTYPE html>
<html>
	<head>
		<base href="/"/>
		<!-- css links -->
		<link rel="stylesheet" href="/UniversityConsumer/static/bootstrap-3.3.7/css/bootstrap.min.css"></link>
		<!-- end css links -->
		
		<!-- common css links --> 
		<link rel="stylesheet" href="/UniversityConsumer/static/css/utilities.css"></link>
		<!-- end common css links -->
		
		<!--  Javascripts Begin -->
		<script src="/UniversityConsumer/static/jquery/jquery-3.3.1.min.js"></script>
		<script src="/UniversityConsumer/static/js/constants.js"></script>
		<script src="/UniversityConsumer/static/js/helper.js"></script>
		<script src="/UniversityConsumer/static/js/router.js"></script>
		<script src="/UniversityConsumer/js/login.js"></script>
		<!-- end Javascripts -->
		
		<meta charset="UTF-8">
		
		<title>University</title>
		<!--<script type="text/html" id="home">
    		<h1>Router FTW!</h1>
  		</script>
		<script type="text/html" id="template1">
    		<h1>Page 1: <%= greeting %></h1>
    		<p><%= moreText %></p>
  		</script>
		<script type="text/html" id="template2">
    		<h1>Page 2: <%= heading %></h1>
    		<p>Lorem ipsum...</p>
  		</script>-->
	</head>
	<body>
		<h1>This is the welcome page</h1>
		 <ul>
		    <li><a href="UniversityConsumer/#">Home</a></li>
		    <li><a href="UniversityConsumer/#/user/login">Login</a></li>
		 </ul>
	     <div id="view"></div>
	</body>
</html>