RewriteCond     %{HTTP_HOST}    ^www.podworks.co.in [NC]
RewriteRule     ^(.*)$  https://pod.works [L,R=301]

RewriteCond	%{HTTP_HOST}	^podworks.co.in$ [NC]
RewriteRule	^(.*)$	https://pod.works [L,R=301]

RewriteCond     %{HTTP_HOST}    ^www.pod.works [NC]
RewriteRule     ^(.*)$  https://pod.works [L,R=301]

RewriteCond     %{HTTP_HOST}    pod.works [NC]
RewriteRule     ^(.*)$  https://pod.works [L,R=301]

RewriteCond     %{HTTP_HOST}    ^www.podworks.info [NC]
RewriteRule     ^(.*)$  https://pod.works [L,R=301]

RewriteCond     %{HTTP_HOST}    ^podworks.info$ [NC]
RewriteRule     ^(.*)$	https://pod.works [L,R=301]

RewriteCond     %{HTTP_HOST}    ^www.podworks.in$ [NC]
RewriteRule     ^(.*)$  https://pod.works [L,R=301]

RewriteCond     %{HTTP_HOST}    ^podworks.in$ [NC]
RewriteRule     ^(.*)$	https://pod.works [L,R=301]

RewriteCond     %{HTTP_HOST}    ^www.podworks.mobi$ [NC]
RewriteRule     ^(.*)$  https://pod.works [L,R=301]

RewriteCond     %{HTTP_HOST}    ^pod.works/KPConsumer$ [NC]
RewriteRule     ^(.*)$  https://pod.works [L,R=301]

RewriteCond     %{HTTP_HOST}    ^podworks.mobi$ [NC]
RewriteRule     ^(.*)$	https://pod.works [L,R=301]
